TP_BASE_URL=https://suunto.tpondemand.com
TP_AUTH_MODE=auto
TP_ACCESS_TOKEN=
TP_SERVICE_TOKEN=
TP_USERNAME=
TP_PASSWORD=
TP_TIMEOUT_SEC=30
TP_PAGE_SIZE=1000
TP_RUN_LIVE_TESTS=0
TP_LIVE_BUG_ID=
TP_LIVE_REQUIRE_RECORDS=0
